html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

header {
  margin-bottom: 2rem;
}

header nav.navbar.navbar-inverse ul.navbar-nav li.nav-item a.nav-link,
header nav.navbar.navbar-inverse span.navbar-text {
  color: rgba(255,255,255,.75);
}

header nav.navbar.navbar-inverse ul.navbar-nav li.nav-item a.nav-link:hover,
header nav.navbar.navbar-inverse ul.navbar-nav li.nav-item a.nav-link:active {
  color: rgba(255,255,255,1);
}

footer {
  height: 50px;
  padding-top: 12px;
  position: relative;
}

footer a {
  font-size: 0.8rem;
  display: inline!important;
  color: rgba(0,0,0,.5);
}

footer a:hover,
footer a:active {
  color: rgba(0,0,0,.75)
}

.home-menu [class^='col-'] {
  margin-bottom: 30px;
}

.home-menu a {
  display: block;
  width: 100%;
  height: 180px;
  padding-top: 50px;
  color: #777;
  background-color: #e7e7e7;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
           transition: all 0.4s ease 0s;
}

.home-menu a:hover,
.home-menu a:active {
  color: #fff!important;
  background-color: #ed4b6f;
  background-image: -webkit-linear-gradient(top, #ed4b6f, #df274f);
  background-image: linear-gradient(to bottom, #ed4b6f, #df274f);
  text-decoration: none;
}

.home-menu .fa {
  font-size: 36px;
  margin-bottom: 20px;
}

.highlight {
  background-color: #f7f7f9;
  margin-bottom: 1rem;
}

.highlight pre {
  margin-bottom: 0;
}

/* krmarkdown */
pre.highlight {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
