{% extends 'base.html' %}

{% block content %}
  <h3 style="margin-top: 0">Thank you!</h3>

  <p>We are grateful for your participation in this study and for your valuable time. As the last step, we would very much like you to also please provide some demographics information, by following this link:<br /><a href="https://goo.gl/forms/HRjYrVEXhhH2YfpP2" target="_blank"><strong style="font-size: 1.5em">https://goo.gl/forms/HRjYrVEXhhH2YfpP2</strong></a>.
</p>

  <p>If you have any questions regarding this study, please feel free to contact us via the following email: <a href="mailto:jefferson.molleri@gmail.com">jefferson.molleri@gmail.com</a>.</p>
{% endblock content %}
